body {
    font-size: 14px;

}
.container {
    height: auto;
    font-family: Roboto Mono;
    font-size: 13px;
    width: 100%;

}
h1 {
    font-family: Roboto Mono;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: white;
    font-size: 13px;
    letter-spacing: 3px; 
    color: black;
    text-align: center;
}

.panel {
    font-size: 12px;
	opacity: 0.9;
}
.bg {
    font-family: Work Sans;
    font-size: 14px;
    background-color: lightskyblue;
    color: black;
    padding: 10px;
}

.bg-white {
    background-color:#fff;
    font-size: 13px;
    color: black;
    padding: 5px;
}

.button {
    font-family: Work Sans;
    font-size: 13px;
    background-color: blue;
    color: #fff;
}

#newTrainBtn {
    font-family: Work Sans;
    font-size: 13px;
    background-color: blue;
    color: #fff;
    
}
.h4 {
    font-size: 14px;
}
.form-group h4 {
    font-size: 14px;
}
#trainNameInput, #destInput, #firstTrainInput, #freqInput {
    font-size: 14px;

}